@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
$mainColor: #a68049;
$secondColor: #262626;

html {
  scroll-behavior: smooth;
}

input,
select,
textarea {
  &:focus {
    outline: 0 !important;
  }
}

@font-face {
  font-family: mainfont;
  src: url("../fonts/DINNextLTArabic-Regular-3.ttf");
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  // direction: rtl;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  // width: 100%;
}

a,
button {
  text-decoration: none !important;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.sidenav {
  height: 100%;
  width: 300px;
  max-width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: -400px;
  background-color: #fff;
  box-shadow: 0 22px 22px rgba($color: #000000, $alpha: 5%);
  overflow-x: hidden;
  padding-top: 30px;
  transition: 0.5s;
  text-align: center;
  padding-bottom: 10px;
  li {
    margin-bottom: 20px;
    text-align: left;
  }
  a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    transition: 0.3s;
    // padding-right: 10px;
    &:hover {
      color: $mainColor;
    }
  }
  .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    // margin-left: 50px;
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-image: linear-gradient(to right, #b22c52, #ca6248);
      color: #fff !important;
      line-height: 40px;
      border-radius: 50%;
      @extend %transition;
    }
  }
  .logo {
    width: auto;
    margin-bottom: 29px;
    margin-top: 39px;
    // padding: 10px;
  }

  .login {
    a {
      // display: inline-block;
      background-image: linear-gradient(to right, #b22c52, #ca6248);
      color: #fff;
      width: 150px;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
      text-align: center !important;
      padding: 10px;
      border-radius: 30px;
      &:hover {
        background-image: linear-gradient(to left, #b22c52, #ca6248);
      }
    }
  }

  .social {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      width: 35px;
      height: 35px;
      border: 1px solid #999;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // display: inline-block;
      flex-direction: row;
      margin: 5px;
      i {
        color: #999;
      }
    }
  }

}

.openMenuActive {
  height: 100vh;
  overflow: hidden;
  // display: none;
}

.bg-sidenavOpen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 50%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  cursor: pointer;
  display: none;
}


.mynavbar {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  z-index: 99;
  .mynavbar-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .links {
    display: flex;
    margin-bottom: 0;
    li {
      margin-left: 20px;
      margin-right: 20px;
      a {
        color: #000;
      }
    }
  }
  .login {
    a {
      display: inline-block;
      background-image: linear-gradient(to right, #b22c52, #ca6248);
      color: #fff;
      width: 150px;
      text-align: center;
      padding: 10px;
      border-radius: 30px;
      &:hover {
        background-image: linear-gradient(to left, #b22c52, #ca6248);
      }
    }
  }
  .mobile-icon{
    font-size: 25px;
    display: none;
  }
}

// header
.header {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .header-img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: none;
  }

  // .slideImg{
  //   z-index: 9;
  // }
  .swiper-button {
    &-next,
    &-prev {
      color: #000;
    }
  }

  .swiper-slide-duplicate,
  .swiper-slide {
    background-position: center center;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: center;
    // align-items: center;

    /* Slide content */
    .description,
    .title {
      display: block;
      opacity: 0;
      transition: 0.5s ease 0.5s;
      text-align: left;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      h5 {
        font-size: 2em;
        font-weight: bold;
        color: #ba2346;
      }
      p {
        font-size: 1em;
        line-height: 30px;
      }
      a {
        display: inline-block;
        background-image: linear-gradient(to right, #b22c52, #ca6248);
        color: #fff;
        width: 150px;
        text-align: center;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        z-index: 99;
        &:hover {
          background-image: linear-gradient(to left, #b22c52, #ca6248);
        }
      }
    }
    &-active {
      .description,
      .title {
        opacity: 1;
      }
      .title {
        transition: opacity 0.5s ease 0.5s;
      }
    }
    @extend %img-bg-style;
    // height: 1004px;
    // opacity: .5;
    position: relative;
    // padding-top: 65px;
    // padding-bottom: 426px;

    &::after {
      content: "";
      width: 100%;
      background-image: url("../images/header-slider-after.png");
      @extend %img-bg-style;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
  }

  .container {
    position: relative;
  }
  .swiper-pagination {
    bottom: 80px;
    // left: 0;
    display: flex;
    align-items: flex-end;
    .swiper-pagination-bullet {
      border: 1px solid #757575;
      background-color: transparent;
      width: 25px;
      height: 8px;
      border-radius: 5px;
      background-color: #757575;
      margin-left: 5px;
    }
    .swiper-pagination-bullet-active {
      background-image: linear-gradient(to left, #b22c52, #ca6248);
      border: 1px solid linear-gradient(to left, #b22c52, #ca6248);
    }
  }

  .swiper-progress-bar {
    position: absolute;
    width: 100%;
    display: block;
    z-index: 1;
    height: 5px;
    top: 0;
    .slide_progress-bar {
      position: absolute;
      height: 5px;
      background: transparent;
      width: auto;
      clear: both;
      opacity: 0;
      bottom: 0;
      left: 0;
      right: 0;
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to left, #b22c52, #ca6248);
        height: 100%;
        width: 0;
        content: "";
      }
    }
    &.active {
      .slide_progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide_progress-bar {
        &:after {
          transition: width linear;
          transition-delay: unset;
          width: 100%;
          transition-duration: 5s;
        }
      }
    }
  }
}

/* why-choose */
.why-choose {
  margin-top: 90px;
  .why-card {
    background-color: #b22c52;
    padding: 50px;
    padding-bottom: 60px;
    border-radius: 15px;
    h5,
    p {
      color: #fff;
      margin: 0;
    }
    h5 {
      font-size: 2em;
      font-weight: bold;
      width: 300px;
      max-width: 100%;
    }
    p {
      color: rgb(202, 202, 202);
      line-height: 30px;
      margin-top: 20px;
      font-size: 1em;
    }
  }
  .all-cards {
    margin-left: 0px;
    .card {
      display: flex;
      flex-direction: row;
      border: 0;
      margin-bottom: 15px;
      @extend %transition;
      .card-body {
        padding: 0;
        margin-left: 28px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        h5 {
          font-weight: bold;
          font-size: 1.2em;
          margin: 0;
        }
        p {
          font-size: 0.9em;
          margin: 0;
          margin-top: 5px;
        }
      }
      .card-img {
        border: 1px solid #b22c52;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover {
        .card-img {
          background-image: linear-gradient(to left, #b22c52, #ca6248);
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}

/* digital */
.digital {
  background-color: #eeeff0;
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 77px;
  .section-header {
    text-align: center;
    h5 {
      font-size: 1.8em;
      color: #b22c52;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 0.9em;
      font-weight: 600;
      color: #000;
      margin: 0;
      margin-top: 5px;
    }
  }
  .all-cards-slider {
    // margin-top: 66px;
    .swiper {
      padding-top: 70px;
    }
    .card {
      text-align: center;
      padding: 32px;
      border-radius: 15px;
      border: 0;
      transition: all 0.3s ease-in-out;
      .card-img {
        img {
          width: auto;
          transition: all 0.3s ease-in-out;
        }
      }
      .card-title {
        font-weight: bold;
        font-size: 1.5em;
        margin: 0;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
      }
      .card-text {
        font-size: 0.9em;
        margin: 0;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        background-color: #b22c52;
        transform: translateY(-5px);
        .card-img {
          img {
            filter: brightness(0) invert(1);
          }
        }
        .card-title {
          color: #fff;
        }
        .card-text {
          color: #fff;
        }
      }
    }
  }
  .swiperBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    div {
      position: unset;
      width: 40px;
      height: 40px;
      border: 1px solid #b22c52;
      color: #b22c52;
      border-radius: 50%;
      margin: 5px;
    }
    .swiper-button-next {
      &::after {
        font-size: 15px;
      }
    }
    .swiper-button-prev {
      &::after {
        font-size: 15px;
      }
    }
  }
}

.technology {
  margin-top: 78px;
  .section-header {
    text-align: center;
    h5 {
      font-size: 1.8em;
      color: #b22c52;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 0.9em;
      font-weight: 600;
      color: #000;
      margin: 0;
      margin-top: 5px;
    }
  }
  .techno-cards {
    .card {
      margin-top: 40px;
      border-radius: 0;
      border: 0;
      text-align: center;
      @extend %transition;
      .card-img {
        @extend %img-bg-style;
        height: 200px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .card-title {
        font-weight: bold;
        font-size: 1.5em;
      }
      .card-text {
        color: #444;
        font-size: 0.95em;
        font-weight: 600;
      }
      a {
        background-color: #b22c52;
        color: #fff;
        width: 100%;
        padding: 9px;
        display: inline-block;
        border-radius: 5px;
        margin-top: 10px;
      }
      &:hover {
        transform: translateY(-10px);
        a {
          background-color: #a3294b;
        }
      }
    }
  }
}

/* support */
.support {
  background-color: #b22c52;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 80px;
  // position: relative;
  overflow: hidden;
  .div-img{
    position: relative;
    .supp-img {
      position: absolute;
      right: 40px;
      top: 0;
    }
  }
  .supp-conten {
    padding-top: 50px;
    h5 {
      color: #f0b637;
      font-size: 2em;
      font-weight: bold;
    }
    p {
      color: #fff;
      font-size: 1.4em;
    }
    a {
      background-color: #a68049;
      border: 2px solid #a68049;
      color: #fff;
      width: 100px;
      border-radius: 30px;
      display: inline-block;
      text-align: center;
      padding: 8px;
      &:hover {
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

/* login-img */
.login {
  .row {
    margin: 0;
    .col-md-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.login-img {
  height: 100vh;
  background-image: url("../images/pattern.png");
  background-color: #b22c52;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h5 {
    font-size: 3em;
    color: #fff;
    font-weight: bold;
  }
  p {
    color: #fff;
    margin-top: 10px;
    line-height: 30px;
  }
  a {
    border: 2px solid #fff;
    color: #fff;
    width: 50%;
    padding: 10px;
    &:hover {
      background-color: #fff;
      color: #b22c52;
    }
  }
}

.login-content {
  // padding-top: 100px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    color: #b22c52;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
  }
  .loginForm {
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }

  .btnSignin {
    background-image: linear-gradient(to right, #b22c52, #ca6248);
    color: #fff;
    border-radius: 0;
    width: 200px;
    padding: 10px;
    border: 2px solid linear-gradient(to right, #b22c52, #ca6248);
    transition: all 0.3s ease-in-out;
    // border: 2px solid #b22c52;
    &:hover {
      background-image: linear-gradient(to left, #b22c52, #ca6248);
    }
  }
  .social {
    text-align: center;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    a {
      width: 35px;
      height: 35px;
      border: 1px solid #999;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // display: inline-block;
      flex-direction: row;
      margin: 5px;
      i {
        color: #999;
      }
    }
  }
}

/* contact-us-page */

.contact-us-page {
  .map {
    iframe {
      width: 100%;
      height: 505px;
      filter: grayscale(1);
    }
  }
  .contact-form-img {
    margin-top: -150px;
    background-color: #fff;
    box-shadow: 0 3px 32px rgba(#000000, 16%);
    padding: 62px 65px;
    position: relative;
    z-index: 9;
    .sheepPeersForm {
      padding-left: 0;
      .contactForm {
        h5 {
          font-size: 28px;
          font-weight: bold;
          margin: 0;
          margin-bottom: 16px;
          color: #b22c52;
        }
        p {
          font-size: 14px;
          font-weight: 600;
          color: rgba(#002543, 50%);
          line-height: 25px;
          margin: 0;
          margin-bottom: 31px;
        }
      }
      textarea {
        height: 111px !important;
      }
      .btn-submit {
        button {
          background-image: linear-gradient(to right, #b22c52, #ca6248);
          width: 169px;
          border: 0;
          text-align: center;
          height: 44px;
          line-height: 44px;
          border-radius: 30px;
          @extend %transition;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .card-img {
      position: relative;
      .overlay {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 63%);
      }
    }
  }
}

.formStyle {
  .form-group {
    position: relative;
    label {
      position: absolute;
      background-color: #647583;
      font-size: 12px;
      color: #fff;
      padding: 0 9px;
      border-radius: 2px;
      top: -8px;
      left: 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
    }
    .form-control {
      background-color: rgba(#647583, 7%);
      height: 51px;
      // width: 255px;
      border: 0;
      // border: 1px solid rgba(#647583, 7%);
      border-radius: 0;
      transition: all 0.5s ease;
      &::placeholder {
        font-size: 14px;
        color: rgba(#002543, 29%);
      }
      &:focus {
        outline: none !important;
        border: 1px solid #647583;
        background-color: #fff;
        box-shadow: none;
      }
    }
  }
}



.activeInput {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translate(2px);
}



@media (max-width: 1024px) {
  .header .swiper-slide-duplicate,
  .header .swiper-slide {
    // padding-top: 165px;
  }
  .our-features .feature-card .item-content p {
    width: auto;
  }
}

@media (max-width: 991px) {
  .header {
    .title {
      text-align: center;
    }
    .slideImg {
      margin-top: 30px;
    }
    img {
      width: 200px;
    }
  }
  .our-features {
    flex-direction: column;
  }
  .login {
    .login-img {
      h5 {
        font-size: 2.3em;
      }
      p {
        width: 95%;
        // margin: auto;
      }
    }

    .login-content {
      h5 {
        font-size: 2em;
      }
      .loginForm {
        width: 100%;
      }
    }
  }
  .header .swiper-slide-duplicate .description,
  .header .swiper-slide-duplicate .title,
  .header .swiper-slide .description,
  .header .swiper-slide .title {
    align-items: center !important;
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .header .solidImg {
  }
  .header img {
    width: 200px;
    margin: auto;
  }
  .why-choose .all-cards {
    margin-top: 30px;
  }
  .support .supp-img {
    top: unset;
    // bottom: 0;
  }
  .header .swiper-slide {
    padding-top: 65px;
  }
  .mynavbar{
    padding-top: 15px;
  }
  .header-img{
    display: block !important;
  } 
  .mobile-icon{
    display: block !important;
  }
}

/* Mobile & Tablets */
@media (max-width: 768px) {
  .navbar-parent {
    // justify-content: space-between;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    align-items: center;
  }
  .mynavbar .link-logo {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .header {
    .title {
      text-align: center !important;
    }
  }
  .header .swiper-slide-duplicate .description h5,
  .header .swiper-slide-duplicate .title h5,
  .header .swiper-slide .description h5,
  .header .swiper-slide .title h5 {
    font-size: 1.5em;
    line-height: normal;
  }
  .header .swiper-slide-duplicate,
  .header .swiper-slide {
    padding-bottom: 0;
  }

  .mynavbar .mynavbar-parent {
    display: none;
  }
}

@media (max-width: 479px) {
  .header .swiper-slide-duplicate .description h5,
  .header .swiper-slide-duplicate .title h5,
  .header .swiper-slide .description h5,
  .header .swiper-slide .title h5 {
    font-size: 1.5em;
    line-height: normal;
  }
  .header .swiper-slide .title .lnks a {
    margin-bottom: 10px;
  }
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0;
  }
  .our-features {
    // flex-direction: column;
    .item-content {
      visibility: visible !important;
      opacity: 1 !important;
      // display: block;
    }
  }
  .aboutHome .about-content h5 {
    font-size: 2em;
  }
  .header .slideImg {
    // display: none; */
    position: absolute !important;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0) !important;
    z-index: -1;
    opacity: .5;
  }

  .header .swiper-pagination {
    justify-content: center;
  }
  .header .swiper-slide-duplicate,
  .header .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .why-choose .all-cards .card {
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    .card-body {
      margin-left: 0;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
    }
  }
  .support .supp-img {
    top: unset;
    // bottom: 0;
  }
  .header{
    height: 400px;
  }
  .header .swiper-pagination{
    bottom: 0;
  }
}

@media (max-width: 376px) {
  .mynavbar .link-logo {
    flex-direction: column;
  }
  .mynavbar ul {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .swiper-slide-duplicate .description h5,
  .header .swiper-slide-duplicate .title h5,
  .header .swiper-slide .description h5,
  .header .swiper-slide .title h5 {
    font-size: 1.2em;
  }
  .aboutHome .about-content h5 {
    font-size: 1.5em;
  }
}

@media (max-width: 321px) {
  .support .div-img .supp-img{
    top: 56px;
  }
}

%inilize-ui-icons {
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%img-bg-style {
  -webkit-background-size: cover;
  -webkit-background-position: center;
  -moz-background-position: center;
  -moz-background-size: cover;
  background-position: center;
  background-size: cover;
}

%img-bg-after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

%link-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

%spcfies-number-of-line {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

%init-font-awesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

%transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

%line-after-secton-header {
  content: "";
  position: absolute;
  background-color: #25a1a5;
  border-radius: 10px;
  width: 41px;
  height: 5px;
  bottom: 0;
  left: 0;
}
